body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
}

.card {
    width: 200px;
    margin: 10px;
    float: left;
}

.btn {
    margin: auto;
}

.mirror {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
 }